doctype html
html(dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="x-apple-disable-message-reformatting")
    meta("http-equiv"="X-UA-Compatible" content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    title Copy of (1) New Message
    style.
      /* Include your styles here as in the original HTML file */
      .rollover:hover .rollover-first {
        max-height: 0px !important;
        display: none !important;
      }
      /* Additional CSS rules as in original file */
  
  body.body(style="width:100%;height:100%;padding:0;Margin:0")
    .es-wrapper-color(dir="ltr" lang="en" style="background-color:#F6F6F6")
      table.es-wrapper(role="none" cellspacing="0" cellpadding="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;background-color:#F6F6F6")
        tr
          td(valign="top" style="padding:0;Margin:0")
            table.es-header(role="none" cellspacing="0" cellpadding="0" align="center" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important;background-color:transparent;background-repeat:repeat;background-position:center top")
              tr
                td.align="center"(style="padding:0;Margin:0")
                  table.es-header-body(role="none" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px")
                    tr
                      td.align="left"(style="padding:0;Margin:0;padding-top:20px;padding-right:150px;padding-left:150px")
                        table.es-right(role="none" cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right")
                          tr
                            td.align="left"(style="padding:0;Margin:0;width:300px")
                              table(role="presentation" cellspacing="0" cellpadding="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.align="center"(style="padding:0;Margin:0;font-size:0")
                                    img.adapt-img(src="https://epiujlr.stripocdn.email/content/guids/CABINET_16d76f5090ef569770a85cd6fa5bb2bfea81a642d7066b293d9d792f258835e2/images/h4hlogo_m87.png" width="150" height="161" alt="" style="display:block;font-size:14px;border:0;outline:none;text-decoration:none")

            table.es-content(role="none" cellspacing="0" cellpadding="0" align="center" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important")
              tr
                td.align="center"(style="padding:0;Margin:0")
                  table.es-content-body(role="none" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px")
                    tr
                      td.align="left"(style="padding:0;Margin:0;padding-top:20px;padding-right:20px;padding-left:20px")
                        table(role="none" cellspacing="0" cellpadding="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                          tr
                            td.align="center"(valign="top" style="padding:0;Margin:0;width:560px")
                              table(role="presentation" cellspacing="0" cellpadding="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.align="left"(style="padding:0;Margin:0")
                                    p(style="Margin:0;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;letter-spacing:0;color:#333333;font-size:14px")
                                      | Hello #{firstName} #{lastName}! This is an email reminder that your dog #{animalName} was due for a rabies shot on #{shotDate}. Please go get them their rabies shot soon!

            table.es-footer(role="none" cellspacing="0" cellpadding="0" align="center" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:100%;table-layout:fixed !important;background-color:transparent;background-repeat:repeat;background-position:center top")
              tr
                td.align="center"(style="padding:0;Margin:0")
                  table.es-footer-body(role="none" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px")
                    tr
                      td.align="left"(style="Margin:0;padding-top:20px;padding-right:20px;padding-left:20px;padding-bottom:20px")
                        table.es-left(role="none" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left")
                          tr
                            td.es-m-p20b.align="left"(style="padding:0;Margin:0;width:270px")
                              table(role="none" cellspacing="0" cellpadding="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.align="center"(style="padding:0;Margin:0;display:none")

                        table.es-right(role="none" cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right")
                          tr
                            td.align="left"(style="padding:0;Margin:0;width:270px")
                              table(role="none" cellspacing="0" cellpadding="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px")
                                tr
                                  td.align="center"(style="padding:0;Margin:0;display:none")